# .env

# --- LLM API Keys ---
# Get your API key from https://platform.openai.com/api-keys
OPENAI_API_KEY="sk-..."
# Get your API key from https://makersuite.google.com/app/apikey
GEMINI_API_KEY="AI...."
# Get your API key from https://platform.deepseek.com/
DEEPSEEK_API_KEY="sk-..."

OPENAI_MODEL_NAME="gpt-4o"
GEMINI_MODEL_NAME="gemini-2.5-flash"
DEEPSEEK_MODEL_NAME="deepseek-chat"

# --- JWT Security Settings ---
# Generate a strong secret key. You can use: openssl rand -hex 32
SECRET_KEY="AIzaSyDUlrpbbYnqskv10mKf4E0e1EbY24Ug6GM"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_HOURS=1

# --- Dummy User for Authentication ---
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="ashiq"

BACKEND_CORS_ORIGINS="http://localhost:4200,http://localhost:3000,http://127.0.0.1:4200"

COMPOSE_PROJECT_NAME="Resume_Builder"